@use "variables" as *;
/* Bootstrap-styled pagination - smaller and cleaner */

.pagination {
    justify-content: end;
    .page-item {
        .page-link {
            padding: 3px 10px;
        }
        &.active {
            .page-link {
                background-color: $primary-color;
            }
        }
    }
}

.navbar-brand img {
    width: 120px !important;
    height: 50px !important;
    max-width: unset !important;
    min-width: unset !important;
}

label {
    font-weight: bold !important;
}
