/* Global SCSS Variables */

:root {
    --color-primary: #0056B7;
    --color-primary-rgb: 0, 86, 183;
    --bg-primary-hover: #003f87;
    --second-primary: #cb1037;

}
.btn-primary:hover, .btn-primary:focus {
    color: var(--color-white);
    background-color: var(--bg-primary-hover) !important;
    border-color: var(--bg-primary-hover);
}

// Primary Colors
$primary-color: #5f63f2;
$primary-light: #8e92f7;

// Status Colors
$success-color: #28a745;
$danger-color: #ff4757;
$danger-dark: #e84118;

// Text Colors
$text-dark: #272b41;
$text-gray: #5a5f7d;
$text-light: #9299b8;

// Background Colors
$white: #fff;
$overlay-bg: rgba(255, 255, 255, 0.95);
$bg-light: #f8f9fb;
$bg-hover: #f4f5ff;
$light-gray: #f3f3f3;

// Border and Icon Colors
$border-color: #e3e6ef;
$icon-color: #c4c9d8;
